h2 {color: Red;}

<%if @game.current_turn == @game.player_2%>
  <h1><%=@game.player_1.name%> attacked <%=@game.player_2.name%></h1>
<%else%>
  <h1><%=@game.player_2.name%> attacked <%=@game.player_1.name%></h1>
<%end%>
<h3><%=@game.player_1.name%> HP: <%=@game.player_1.hit_points%></h3>
<h3><%=@game.player_2.name%> HP: <%=@game.player_2.hit_points%></h3>

<h2><%=@game.current_turn.name%>, it's your turn now!</h2>

<form action="/play">
  <input type="submit" value="Next Round"/>
</form>
